.footer_sitemap{color: 1;
    .wrap{color: 1;
        .snswrap{color: 1;
            .snsbox{color: 1;
                h3{color: 1;

                }
                ul{color: 1;
                    li{color: 1;
                        a{color: 1;
                            img{color: 1;

                            }
                        }
                    }
                }
            }
            .familywrap{color: 1;
                .select{color: 1;
                    button.btnselect{color: 1;

                    }
                    ul.selectlist{color: 1;
                        li{color: 1;
                            a{color: 1;

                            }
                        }
                    }
                }
            }
        }
    }
}